/* Adicionando cores da identidade visual Tesla Engenharia */
$theme-colors: ("teslaBlue": #111227,
  "teslaRed": #c00000,
  "teslaDarkBlue": #0b0c1d,
  "teslaGrey": #bbbbbb,
  "teslaWhite": #ffffff,
);

/* Fonte para todo o site */
html {
  font-family: Roboto, sans-serif;

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
  }

  h4 {
    font-size: 0.9em;
  }

  p {
    font-size: 1em;
    color: #bbb;
    hyphens: none;
  }

  strong {
    font-weight: bold;
    font-size: 1.5em;
  }
}

/* Removendo o sublinhado nos links do menu */
.navbar .nav-item .nav-link {
  text-decoration: none;
  transition-duration: 250ms;
}

#teslaMenu a {
  font-weight: normal;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-right: 1;
}

/* Personalisação da Área do cliente */
#areadocliente a {
  color: #c00000;
  font-weight: bold;
}

#areadocliente a:hover {
  color: #f10000;
  /* ' text-decoration: underline;
  text-decoration-color: #c00000;' */
  /* border-bottom: 2px solid #c00000; */
  transition-duration: 350ms;
}

.carousel-item {
  padding-left: 2rem;
  padding-right: 2rem;
}

#contato {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0b0c1d;
  background-image: url(img/tstroke.png);
  background-size: 32rem;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-top: 1px solid #28293a;
  border-bottom: 1px solid #28293a;

  p {
    padding-bottom: 0rem;
    text-justify: left;
  }

  img {
    padding-right: 0.6rem;
  }

  button {
    background-color: #c00000;
    border: 0px;
    border-radius: 0.3rem;
    width: 100%;

    a {
      text-decoration: none;
      font-weight: bold;
      color: #fff;
    }
  }

  select {
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.3rem;
    color: #090b1a;
    padding-left: 1rem;
  }

  textarea {
    border: none;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 0.3rem;
    padding-left: 1rem;
    color: #090b1a;
  }

  input {
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-bottom: 0.3rem;
    color: #090b1a;
    padding-left: 1rem;
    display: flex;

  }

  form {
    padding-top: 1rem;
  }

  label {
    color: #bbb;
  }

  ::placeholder {
    color: #bbb;
  }

  /* Estilizando o checkbox*/
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {

    input[type="checkbox"],
    input[type="radio"] {
      --active: #275efe;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, 0.3);
      --border: #bbc1e1;
      --border-hover: #275efe;
      --background: #fff;
      --disabled: #f6f8ff;
      --disabled-inner: #e1e6f9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

      &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
          opacity var(--d-o, 0.2s);
      }

      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
      }

      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;

        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }

        &+label {
          cursor: not-allowed;
        }
      }

      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }

      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }

      &:not(.switch) {
        width: 21px;

        &:after {
          opacity: var(--o, 0);
        }

        &:checked {
          --o: 1;
        }
      }

      &+label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }

    input[type="checkbox"] {
      &:not(.switch) {
        border-radius: 7px;

        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }

        &:checked {
          --r: 43deg;
        }
      }

      &.switch {
        width: 38px;
        border-radius: 11px;

        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }

        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }

        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: 0.6;
            }
          }
        }
      }
    }

    input[type="radio"] {
      border-radius: 50%;

      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
      }

      &:checked {
        --s: 0.5;
      }
    }
  }
}

#portfolioPage {
  background-color: #111227;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #28293a;
  border-bottom: 1px solid #28293a;

  img {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    max-width: 100%;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 2rem;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #c00000;
  }

  .servico {
    color: #c00000;
    height: 3em;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;

    h2 {
      color: #bbb;
    }
  }

  h2 {
    padding-bottom: 0rem;
  }

  h4 {
    color: #bbb;
  }

  p {
    color: #bbb;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 3rem;
  }

  strong {
    color: #fff;
  }

  a {
    color: #c00000;
    font-size: 1.1em;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none;
  }

  #economia {
    text-decoration: underline;
    text-decoration-color: #c00000;
  }

  stroke {
    text-decoration: underline;
    text-decoration-color: #c00000;
  }
}

#portfolio {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(#090b1a, #0b0c1d, #090b1a);
  /* background-color: #0b0c1d; */
  border-top: 1px solid #28293a;
  border-bottom: 1px solid #28293a;

  .job-image {
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 2rem;
    color: #fff;
  }

  h2 {
    padding-bottom: 2rem;
    color: #fff;
  }

  h4 {
    color: #bbb;
  }

  p {
    color: #bbb;
    text-align: justify;
    text-justify: inter-word;
  }

  strong {
    color: #fff;
  }

  a {
    color: #c00000;
    font-size: 1.1em;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none;
  }

  #economia {
    text-decoration: underline;
    text-decoration-color: #c00000;
  }

  stroke {
    text-decoration: underline;
    text-decoration-color: #c00000;
  }
}

#oqueprecisa {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #111227;
  background-color: #111227;
  background-image: url(img/tstroke.png);
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: bottom right;

  .service {
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-right: 4rem;
  }

  h1 {
    color: #c00000;
    padding-bottom: 3rem;
  }

  h3 {
    color: #fff;
  }

  p {
    font-size: 1rem;
    color: #bbb;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.7rem;
  }

  button {
    background-color: #c00000;
    border: 0px;
    border-radius: 0.3rem;
    padding: 1rem;

    a {
      text-decoration: none;
      font-weight: bold;
      color: #fff;
    }
  }
}

#oquedizem {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;

  /* Cor da seta para a esquerda */
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bbb' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  /* Cor da seta para a direita */
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bbb' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  h1 {
    font-weight: bolder;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    color: #0b0c1d;
  }

  .client-pic {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  h4 {
    padding-top: 1rem;
  }
}

#quemsomos {
  background-color: #0b0c1d;
  padding-top: 3rem;
  padding-bottom: 3rem;

  h1 {
    color: #c00000;
    font-weight: bold;
    padding-bottom: 3rem;
  }

  h2 {
    padding-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
  }

  h3 {
    padding-top: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
  }

  h4 {
    color: #bbb;
    font-size: 1rem;
    font-weight: normal;
  }

  p {
    color: #bbb;
    text-align: justify;
    font-size: 1.2rem;

    strong {
      color: #fff;
      font-size: 1.2rem;
      font-weight: normal;
      text-decoration: underline;
      text-decoration-color: #c00000;
    }
  }

  .valores {
    h3 {
      text-align: center;
      color: #c00000;
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  #team {
    padding-bottom: 3rem;
    max-width: 100%;
  }

  /* Team slide */
  @media (min-width: 768px) and (max-width: 991px) {

    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {

    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
      position: absolute;
      top: 0;
      right: -50%;
      /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
    }
  }

  @media (min-width: 576px) {
    .carousel-item {
      margin-right: 0;
    }

    /* show 2 items */
    .carousel-inner .active+.carousel-item {
      display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
      transition: none;
    }

    .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }

  /* MD */
  @media (min-width: 768px) {

    /* show 3rd of 3 item slide */
    .carousel-inner .active+.carousel-item+.carousel-item {
      display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
      transition: none;
    }

    .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }

  /* LG */
  @media (min-width: 991px) {

    /* show 4th item */
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
      display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
      transition: none;
    }

    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      /*change this with javascript in the future*/
      z-index: -1;
      display: block;
      visibility: visible;
    }

    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
}

#resumo {
  padding-left: 1rem;
  padding-right: 1rem;
}

#footer {
  padding-top: 1rem;
  background-color: #0b0c1d;
  border-top: 1px solid #28293a;

  .icon {
    padding-right: 0.5rem;
  }
}

#footer a:hover {
  text-decoration: none;
}

#logoFooter {
  padding-right: 2rem;
}

#icons {
  padding-right: 0.5rem;
}

#footer2 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  padding-right: 8rem;
  background-color: #0b0c1d;
}

#telefone {
  color: #bbbbbb;
  font-weight: bolder;
  padding-top: 0.2rem;
}

#telefone:hover {
  text-decoration: none;
}

#solicitar a {
  color: #c00000;
  font-weight: bold;
}

#solicitar a:hover {
  text-decoration: none;
}

#copyright h5 {
  font-weight: normal;
  font-size: 0.7rem;
  padding-right: 0.4rem;
  color: #bbbbbb;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/media";
